.env
*.pyc
dist/
.vscode/
build/
node_modules/
live2d/Samples/Resources/*
!live2d/Samples/Resources/star aei
!live2d/Samples/Resources/Haru
!live2d/Samples/Resources/icon_gear.png
!live2d/Samples/Resources/back_class_normal.png
*.log
*.spec
*.swp
.history/*
